﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Righteous" rel="stylesheet">



<div class="page home-page">
    <div class="page-body">

        @Html.Widget("home_page_top")

        @*<div style="" class="hero-text-container">

                <div style="" class="hero-text">
                    @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
                </div>

            </div>*@


        @Html.Widget("home_page_before_categories")
        @Html.Action("HomepageCategories", "Catalog")

        @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")


        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
