﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div class="master-wrapper-page">
    @Html.Action("AdminHeaderLinks", "Common")
    @Html.Partial("Header")





    <style type="text/css">

        .par-hero {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            height: 100%;
        }

            .par-hero img {
                display: inline-block;
                height: 179%;
                /*width: 120%;*/
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                margin-top: 0px;
            }

            .par-hero div {
                display: inline-block;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                /*background-color: rgba(100,100,100,.6);*/
            }
    </style>


    <script type="text/javascript">

        var el;
        var win = $(window);

        $(document).ready(function () {
            el = $(".heroImg");
            heroCurrent = 
            setTimeout(function () {
                heroChange();
            }, 2000);
        });

        var heroIndex = 0;
        //var heroCurrent = "hero-0";
        var next = 0;
        function heroChange() {

            next = heroIndex + 1;
            if (next > 3) {
                next = 0;
            }
            $("#hero-" + heroIndex).fadeOut(2000);
            $("#hero-" + next).fadeIn(2000);

            console.log(next);
            

            setTimeout(function () {
                heroIndex = next;
                heroChange();
            }, 5000);
        }


        // define the function outside the onscroll function so it doesn't get redefined
        var getScroll;


        function repeatOften() {
            if (el) {

                var val = 'translateY(' + -getScroll + 'px)';
                //var val = 'translateY(' + -getScroll + 'px) translateX(' + -getScroll + 'px)';

                //var val = 'rotateY(' + getScroll + 'deg) rotateX(' + getScroll +;
                //var val = 'scale(' + getScroll / 100 ')';

                el.css("transform", val);
            }
        };

        win.scroll(function () {
            getScroll = win.scrollTop() * .2;
            requestAnimationFrame(repeatOften);
        });


    </script>




    @if (@Url.RequestContext.HttpContext.Request.Path == "/")
    {
    <div class="par-hero">
        <img class="heroImg" id="hero-0" src="/content/images/custom/d4.jpg" />
        <img class="heroImg" style="display:none" id="hero-1" src="/content/images/custom/d2.jpg" />
        <img class="heroImg" style="display:none" id="hero-2" src="/content/images/custom/d3.jpg" />
        <img class="heroImg" style="display:none" id="hero-3" src="/content/images/custom/d8.jpg" />
        <div></div>
    </div>

    }








    <script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>


    

    <div class="master-wrapper-content">
        @Html.Widget("content_before")

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")