﻿<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Righteous" rel="stylesheet">

<style type="text/css">

    .nivoSlider {
        margin-top:120px;
    }

    .theme-custom .nivoSlider {
        background: none !important;
    }

    .nivo-controlNav {
        display:none !important;
    }


</style>

<div class="header">
    @Html.Widget("header")
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @*@Html.Action("TaxTypeSelector", "Common")
        @Html.Action("CurrencySelector", "Common")*@

            <div class="header-menu">
                @Html.Action("TopMenu", "Catalog")
            </div>

            @Html.Action("LanguageSelector", "Common")
            @Html.Widget("header_selectors")
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            @Html.Action("Logo", "Common")
            <div style="display:inline-block; font-size:33px; ">
                <h1 style="color:white; font-family: 'Berkshire Swash', cursive; color: #e5e5e5; margin-left:20px;">Paw Tawk</h1>
            </div>
        </div>


        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>
